




body{


    background-color: #e6eaee;
}

#darkmode{

    margin: auto;
    text-align: right;
    font-size: 1.5em;
    
    }

.darkmode-button {

    
    
}

#title{

    color: rgb(0, 0, 0);
    font-size: 4em;
    margin: auto;
    text-align: center;

}


.container-1 {

margin: auto;
margin-top: 10px;
font-size: 1.5em;
}

#date {

font-size: 1.5em;
margin: auto;
text-align: center;
padding: 10px;
font-weight: bold;


}


#userinput {

margin-left: 500px;

}



#output {


    text-align: center;
}



#list{
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}

#para{

    padding: 5px;
}